# Ignore node_modules directory
node_modules/

# Ignore environment-specific configuration files
config/*.env

# Ignore log files
logs/
*.log

# Ignore npm debug log
npm-debug.log*

# Ignore .env files (sensitive configuration files)
.env

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore Visual Studio Code settings
.vscode/
